<label for="date">
	<f:translate key="tx_danceclub_domain_model_tournament.date" /> <span class="required">(required)</span>
</label><br />
	<f:form.textbox property="date" /><br />
<label for="organizer">
	<f:translate key="tx_danceclub_domain_model_tournament.organizer" />
</label><br />
	<f:form.textbox property="organizer" /><br />
<label for="city">
	<f:translate key="tx_danceclub_domain_model_tournament.city" />
</label><br />
	<f:form.textbox property="city" /><br />
<label for="number">
	<f:translate key="tx_danceclub_domain_model_tournament.number" /> <span class="required">(required)</span>
</label><br />
	<f:form.textbox property="number" /><br />
<label for="type">
	<f:translate key="tx_danceclub_domain_model_tournament.type" />
</label><br />
	<f:form.textbox property="type" /><br />
<label for="class">
	<f:translate key="tx_danceclub_domain_model_tournament.class" />
</label><br />
	<f:form.textbox property="class" /><br />
<label for="age">
	<f:translate key="tx_danceclub_domain_model_tournament.age" />
</label><br />
	<f:form.textbox property="age" /><br />
<label for="announceDate">
	<f:translate key="tx_danceclub_domain_model_tournament.announce_date" />
</label><br />
	<f:form.textbox property="announceDate"  value="{tournament.announceDate->f:format.date()}"  /><br />
<label for="status">
	<f:translate key="tx_danceclub_domain_model_tournament.status" />
</label><br />
	<f:form.textbox property="status" /><br />
<label for="result">
	<f:translate key="tx_danceclub_domain_model_tournament.result" />
</label><br />
	<f:form.textbox property="result" /><br />
<label for="participants">
	<f:translate key="tx_danceclub_domain_model_tournament.participants" />
</label><br />
	<f:form.textbox property="participants" /><br />
<label for="rank">
	<f:translate key="tx_danceclub_domain_model_tournament.rank" />
</label><br />
	<f:form.textbox property="rank" /><br />
<label for="description">
	<f:translate key="tx_danceclub_domain_model_tournament.description" />
</label><br />
	<f:form.textarea property="description" cols="40" rows="15" /><br />