<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.


If you modify this template, do not forget to change the overwrite settings 
in /Configuration/Kickstarter/settings.yaml:
  Resources:
    Private: 
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the kickstarter

<f:section name="main">
<h1>Listing for Dancer</h1>

<f:flashMessages />

<table  class="tx_danceclub" >
	<tr>
		<th><f:translate key="tx_danceclub_domain_model_dancer.firstname" /></th>
		<th><f:translate key="tx_danceclub_domain_model_dancer.lastname" /></th>
		<th><f:translate key="tx_danceclub_domain_model_dancer.gender" /></th>
		<th><f:translate key="tx_danceclub_domain_model_dancer.birthday" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{dancers}" as="dancer">
		<tr>
			<td><f:link.action action="show" arguments="{dancer : dancer}"> {dancer.firstname}</f:link.action></td>
			<td><f:link.action action="show" arguments="{dancer : dancer}"> {dancer.lastname}</f:link.action></td>
			<td><f:link.action action="show" arguments="{dancer : dancer}"> {dancer.gender}</f:link.action></td>
			<td><f:link.action action="show" arguments="{dancer : dancer}"> {dancer.birthday -> f:format.date()}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{dancer : dancer}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{dancer : dancer}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Dancer</f:link.action>
</f:section>