<label for="classLatin">
	<f:translate key="tx_danceclub_domain_model_couple.class_latin" />
</label><br />
	<f:form.textbox property="classLatin" /><br />
<label for="ageLatin">
	<f:translate key="tx_danceclub_domain_model_couple.age_latin" />
</label><br />
	<f:form.textbox property="ageLatin" /><br />
<label for="classStandard">
	<f:translate key="tx_danceclub_domain_model_couple.class_standard" />
</label><br />
	<f:form.textbox property="classStandard" /><br />
<label for="ageStandard">
	<f:translate key="tx_danceclub_domain_model_couple.age_standard" />
</label><br />
	<f:form.textbox property="ageStandard" /><br />
<label for="coupleDescription">
	<f:translate key="tx_danceclub_domain_model_couple.couple_description" />
</label><br />
	<f:form.textarea property="coupleDescription" cols="40" rows="15" /><br />
<label for="coupleStart">
	<f:translate key="tx_danceclub_domain_model_couple.couple_start" />
</label><br />
	<f:form.textbox property="coupleStart"  value="{couple.coupleStart->f:format.date()}"  /><br />
<label for="coupleEnd">
	<f:translate key="tx_danceclub_domain_model_couple.couple_end" />
</label><br />
	<f:form.textbox property="coupleEnd" /><br />